.main{
    width:960px;
    min-height:300px;
    border:2px solid #6faa1b;
    box-sizing: border-box;
    margin:auto;
    padding:75px 100px;
    padding-bottom:0;
}
.money{
    color:#ff4800;
    font-size: 18px;
    font-weight: bold;
    height:35px;
    line-height:34px;
    width:100%;
    border-bottom:1px solid #ccc;
}
.mainZ{
    width:400px;
}
.goodsAll>div{
    width:100%;
    line-height:25px;
    height:25px;

}
.goodsAll{
    margin-top:10px;
    margin-bottom:30px;
}
.mainY{
    width:320px;
    color:#ff4a00;
    font-size:13px;
    line-height:30px;
    text-align:center;
}
.mainY img{
    width:170px;
    display: block;
    margin:auto;
}

